body {
    margin: 0px;
    padding: 0px;
    background: black url(lolis/temporada-spring.jpg);
    background-size: 100%;
    background-repeat:calc(100% auto);
}
.titulor{
    text-align: center;
}

#area-principal {
    margin: 5% auto;
    width: 80%;
    text-align: center;
    background: black;
    border: solid red ;
}
#area-segunda {
    margin: 5% auto;
    width: 80%;
    text-align: center;
    background: black;
    border: solid red ;
    display: inline-flexbox;
}